Source: ros-rolling-hpp-fcl
Section: misc
Priority: optional
Maintainer: Joseph Mirabel <jmirabel@laas.fr>
Build-Depends: debhelper (>= 9.0.0), cmake, doxygen, git, libassimp-dev, libboost-all-dev, libeigen3-dev, python3-dev, python3-lxml, python3-numpy, ros-rolling-eigenpy, ros-rolling-octomap, ros-rolling-ros-workspace
Homepage: https://github.com/humanoid-path-planner/hpp-fcl
Standards-Version: 3.9.2

Package: ros-rolling-hpp-fcl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libassimp-dev, libboost-all-dev, libeigen3-dev, python3-dev, python3-numpy, ros-rolling-eigenpy, ros-rolling-octomap, ros-rolling-ros-workspace
Description: An extension of the Flexible Collision Library.
